/* Base styles (desktop-first approach) */

@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Bayon&family=Chenla&family=Moul&family=Nokora:wght@100;300;400;700;900&family=Parkinsans:wght@300..800&family=Protest+Guerrilla&display=swap');

.text_q {
    font-size: 30px;
    font-family: "Battambang", serif;
    text-align: center;
    color: var(--primary-color);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.controller {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.problem_product, .card_item {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--primary-color);
    padding: 20px;
    gap: 10px;
}

.item_problem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px var(--text-color);
    transition: 0.2s ease;
}

.item {
    width: 290px;
    height: 240px;
    padding-bottom: 10px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.item_problem:hover {
    transform: scale(1.05);
}

.textPro h1 {
    margin: 0;
    font-size: 25px;
    font-family: "Battambang", serif;
    text-align: center;
    color: var(--text-color);
}

.text_pri {
    font-size: 30px;
    font-family: "Moul", serif;
    text-align: center;
    color: var(--text-color);
}

.line_content {
    width: 1000px;
    margin: 10px;
    border-top: 3px solid var(--red-color);
}

.item_card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    padding: 20px;
}

.item_card h1 {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Battambang", serif;
}

.item_image {
    width: 600px;
}

.item_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.items {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    padding: 10px;
}

.items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.videos video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.responsive-video {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.booking{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: red;
    bottom: 0;
    left: 0;
    right: 0;
    animation: bounce 2s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;


}
.control_text{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.control_text h1{
    font-family: "Battambang", serif;
    font-size: 30px;
    color: white;
    margin: 0;
}
.control_text p{
    font-family: "Battambang", serif;
    font-size: 30px;
    color: white;
    margin: 0;
}
.booking_click{
    width: 150px;
    height: 50px;
  
    
    background-color: red;
    z-index: 100;
    border-radius: 10px;
   
    box-shadow: 0 0 10px var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking_click h1 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: "Battambang", serif;
    color: white;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.submit-form-container {
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.submit-form-container.animate {
    opacity: 1;
    transform: translateY(0);
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
        border: none;
    }
}

.item_problem, .item_card, .responsive-video, .submit-form-container {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.container h1:nth-child(1),.container h1:nth-child(3){
    text-align: center;
    font-size: 30px;
    font-family: "Battambang", serif;
    border-bottom: 2px solid red;
}
.phone{
    display: flex;
    align-items: center;
    gap: 20px;
}
.phone h1{
    font-size: 25px;
    font-family: "Battambang", serif;
    margin: 0;
    transition: 0.5s linear;
}
.phone h1:hover{
   transform: scale(1.1);
   cursor: pointer;
}
.phone_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.phone_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Responsive Styles */
@media (max-width: 1024px) {
    .problem_product, .card_item, .line_content {
        width: 90%;
    }

    .item_problem {
        width: 250px;
        height: 250px;
    }

    .item {
        width: 240px;
        height: 200px;
    }

    .item_image {
        width: 100%;
    }
    .item_card h1 {
        font-size: 10px;
        font-family: "Battambang", serif;
    }
    .control_text p{
        font-family: "Battambang", serif;
        font-size: 20px;
        color: white;
        margin: 0;
    }
    .booking{
        padding: 10px;
        
    }
}

@media (max-width: 768px) {
    .text_q, .textPro h1, .text_pri {
        font-size: 20px;
    }

    .booking {
        width: 120px;
        height: 40px;
    }

    .booking h1 {
        font-size: 18px;
    }

    .item_problem {
        width: 200px;
        height: 200px;
    }

    .item {
        width: 190px;
        height: 160px;
    }
    .items{
        width: 50px;
        height: 50px;
    }
    .booking{
        width: 100%;
        padding: 20px;
    }
   .booking_click{
    width: 100px;
    height: 40px;
   }
   
}

@media (max-width: 480px) {
    .text_q, .textPro h1, .text_pri {
        font-size: 16px;
    }

    .booking {
        width: 100px;
        height: 35px;
    }

    .booking h1 {
        font-size: 14px;
    }

    .item_problem {
        width: 150px;
        height: 150px;
    }

    .item {
        width: 100px;
        height: 90px;
    }
    /* .item img{
        width: 140px;
        height: 120px;
    } */
    .items{
        width: 50px;
        height: 50px;
        background-color:red;
    }
    .items img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .item_card h1 {
        width: 100px;
        font-size: 14px;
        font-family: "Battambang", serif;
        margin: 0;
    }
    .item_card {
        padding: 10px;
    }
    .booking{
        width: 100%;
        padding: 10px;
        
    }
    .control_text {
        width: 60%;
    }
    .control_text p{
        font-family: "Battambang", serif;
        font-size: 15px;
        color: white;
        margin: 0;
    }

    .container h1:nth-child(1),.container h1:nth-child(3){
        text-align: center;
        font-size: 20px;
        font-family: "Battambang", serif;
        border-bottom: 2px solid red;
    }
    .phone{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .phone h1{
        font-size: 15px;
        font-family: "Battambang", serif;
        margin: 0;
        transition: 0.5s linear;
    }
    .phone h1:hover{
       transform: scale(1.1);
       cursor: pointer;
    }
    .phone_img{
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .phone_img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}

