:root {
  --primary-color: #3498db;  /* Blue */
  --secondary-color: #2ecc71; /* Green */
  --background-color: #f5f5f5; /* Light background */
  --text-color: #333333; /* Dark text */
  --link-color: #1e88e5; /* Blue link color */
  --red-color: #ff0000; /* Blue link color */
}